---
import "../styles/Header.css"
---

<header>
    <h1>Survy</h1>

    <nav>
        <ul>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Services</a>
            </li>
            <li>
                <a href="">Pages</a>
            </li>
            <li>
                <a href="">Contact us</a>
            </li>
        </ul>
    </nav>

    <button id="signIn_Button">
        Sign In
    </button>
</header>
